/* Set border radius to 0 for all elements */
*,
*::before,
*::after {
  border-radius: 0 !important;
  box-shadow: none !important;
}

/* Implement flexbox on nav, and add styles */
nav {
  display: flex;
  width: 30vw;
  height: 25px;
  margin: 10px auto;
  border: 1px solid black;
  font-size: small;
}

/* Set nav items styles */
a.nav-item {
  flex: 1;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
}

/* Make home nav sticky */
#home-nav {
  position: sticky;
  top: 15px;
  z-index: 10;
}

/* Change main nav item color on hover */
#main-nav > a.nav-item:hover {
  color: white;
  background-color: darkslategray;
}

/* Change home nav item color on hover */
#home-nav > a.nav-item:hover {
  color: white;
  background-color: slategray;
}

/* Set colors for active main nav item */
#main-nav > a.nav-item.active {
  color: white;
  background-color: darkslategray;
}

/* Set colors for active home nav item */
#home-nav > a.nav-item.active {
  color: white;
  background-color: slategray;
}

#activity-end-text {
  text-decoration: none;
}

/* Set input border on focus */
input[type]:focus {
  border-color: #007bff;
}

/* Set main container width and margin */
#main-container {
  width: 30vw;
  margin: 0 auto;
}

/* Hide containers */
#search-result,
#search-container,
#notifs-container {
  display: none;
}

/* Set margin on search result */
#search-result {
  margin: 10px auto;
}

/* If screen width is less than 768px; */
@media all and (max-width: 768px) {
  /* Set nav and main container width */
  nav,
  #main-container {
    width: 60vw;
  }
}

/* If screen width is less than 576px */
@media all and (max-width: 576px) {
  /* Set nav and main containe width */
  nav,
  #main-container {
    width: 90vw;
  }
}
